

#__nuxt{
    .doc-main{
        .mehfigo{
            .firhighr{
                width:200px;
                .section2_title{
                    color: red;
                }
                .section2_img{
                    width:300px;
                    height:300px;
                    color:blue;
                }
            }
        }
    }
}